.TodoForm form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.TodoForm input {
    width: 45%;
    height: 30px;
    font-size: 1.3rem;
}

.TodoForm button {
    margin-left: 20px;
    height: 50px;
    cursor: pointer;
    background-color: beige;
    font-size: 1.5rem;
}

.TodoForm button:hover {
    background-color: rgb(240, 240, 155);
}

.TodoForm input,
.TodoForm button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
