.App {
  text-align: center;
}

* {
  color:#fff;
}

nav {
  padding:20px 0;
  margin-bottom:10px;
  background:lightblue;
}

nav > a {
  margin:0 10px;
  color:darkslategray;
}

nav > a:hover {
  text-decoration:none;
}

.active {
  text-decoration:none;
  color:lightyellow;
}