.App {
  text-align: center;
}

.btn {
  border:0;
  border-radius: 5px;
  cursor:pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn:hover svg {
  color: #255285;
}

.btn svg {
  font-size:22px;
  color:gray;
  display:block;
  transition:all 0.2s;
}