.todo {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 20px;
    margin: 15px 0;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid #555;
    color: #112d49;
    background-color: #fbfef9;
    user-select: none;
}

.todo.check, .todo.check button {
    background:#B4B6B2;
}

.todoText {
    display:flex;
    justify-content:center;
    text-align: left;
    width:100%;
    align-items: center;
}

.todoText span {
    width: 80%;
}
