.todoButtons {
    display:flex;
    justify-content: center;
    width:20%;
}

.todoButtons button {
    width:35px;
    height:35px;
    background:#fff;
}

.todoButtons button svg {
    font-size:22px;
}

.active svg {
    color:green;
}